html{
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: sans-serif;
}

nav{
    background-color: #eee;
    border-bottom: solid 1px #aaa;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #1b1b1b;
    text-decoration: none;
    text-align: center;
    border: solid 1px #212121;
    border-radius: 0.2rem;
    padding: 0.5rem;
    min-width: 9rem;
    display: inline-block;
}

nav a[aria-current="page"]{
    color: #000;
    background-color: rgb(207, 204, 204);
}

main{
    padding: 1rem;
}

.projects{
    display: flex;
    flex-direction: column;
    width: fitcontent;
}

.project-link{
    border: .5rem solid black;
    padding: 1rem 3rem;
    color: black;
    border-radius: 1rem;
    text-decoration: none;
    background-color: white;
    margin-top: 5px;
}

h1{
    padding-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}